OPENAI_API_KEY=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
NEWSAPI_KEY=152a57c89ced4a16ab2bbc349f47099a
